<template>
  <div id="app">
    <Navbar></Navbar>
    <router-view/>
    <Footer></Footer>
  </div>
</template>
<script>
import Navbar from './components/common/Navbar'
import Footer from './components/common/Footer'
export default {
  name: 'App',
  components : {
    Navbar,
    Footer
  }
}
</script>

<style>

</style>
