<template>
<footer class="bd-footer text-muted">
  <div class="container-fluid p-3 p-md-5">
   
    <p>This App displays the cache keys in a dashboard. You can add, view and update keys...</a>.</p>
    <p>Currently v4.1.1. Code licensed <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p>
  </div>
</footer>
</template>
<script>
export default {
    name: 'Footer'
}
</script>
<style>
.nav {
    margin-top:100px;
}
</style>
