<template>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">FC Cache API Keys</h1>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
           </p>
          <p>
           <a href="#" class="btn btn-secondary my-2">Documentation</a>
          </p>
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">

          </div>
        </div>
      </div>
    </main>
</template>
<script>
import Apis from '../../services/Api'
export default {
    name:'MainComponent',
    data() {
      return {
        customers : []
        
      }
    },
  }

</script>
<style scoped>

</style>


